@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Lato', sans-serif;
}
.btn_primary {
  font-size: 18px;
  font-weight: 400;
  padding: 20px 40px;
  border-radius: 8px;
  background: #e55473;
  color: #fff;
  border: none;
}
.header_container {
  /* background-color: #E554731A; */
  background: rgba(229, 84, 115, 0.1);
}
.nav_container {
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.nav_menu-item ul {
  display: flex;
  gap: 20px;
}
.nav_menu-item ul li {
  list-style: none;
}
.nav_menu-item li a {
  font-size: 25px;
  font-weight: 700;
  text-decoration: none;
  color: #000;
}
/* nav section end */
/* banner section start */
.banner_container {
  height: 100vh;
}
.banner_section {
  display: flex;
  align-items: center;
  padding: 0px 200px;
}
.img_section img {
  padding-left: 60px;
  width: 600px;
  height: 565px;
  margin-top: 50px;
}
.banner_title {
  color: #272727;
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 20px;
  width: 400px;
}
.banner_description {
  margin-bottom: 30px;
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  width: 500px;
}

/* banner section end */
/* feature section start */
.featured-container {
  background: #fff;
  margin-top: 40px;
  margin-bottom: 80px;
}
.sction_title {
  text-align: center;
  padding: 50px 400px;
}
.sction_title h2 {
  color: #272727;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
}
.sction_title p {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  width: 600px;
}

.card-left {
  width: 470px;
  height: 500px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
}
.card-left h3 {
  color: #272727;
  text-align: center;
  font-size: 24px;
  margin-top: 20px;
  font-weight: 700;
  text-decoration-line: underline;
}
.card-left img {
  width: 300px;
  height: 420px;
  margin-top: 80px;
  padding: 0 60px;
}
.card-center {
  width: 464px;
  height: 500px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(5, 151, 160, 0.15);
}
.card-center h3 {
  color: #272727;
  text-align: center;
  font-size: 24px;
  margin-top: 35px;
  font-weight: 700;
  text-decoration-line: underline;
}
.card-center img {
  width: 350px;
  height: 370px;
  margin-top: 115px;
  padding: 0 30px;
}
.card-right {
  width: 470px;
  height: 500px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(71, 125, 17, 0.15);
}
.card-right img {
  width: 314px;
  height: 471px;
  margin-top: 28px;
  padding: 0 60px;
}
.card-right h3 {
  color: #272727;
  text-align: center;
  font-size: 24px;
  margin-top: 20px;
  font-weight: 700;
  text-decoration-line: underline;
}
.all-box {
  display: flex;
  padding: 0px 180px;
  gap: 20px;
  justify-content: center;
}

/* feature section End */
/* Hot deal section css add */
.hotdeal_section {
  padding: 50px 0;
  background: rgba(229, 84, 115, 0.1);
}
.section-row {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 20px 200px;
  gap: 50px;
}
.info-section {
  align-items: center;
}
.hot-title {
  color: #272727;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
}
.hot-title span {
  color: #e55473;
}
.hot-desc {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 30px;
}
/* Hot deal section css End */
/* instagram section start */
.insta_info-section {
  padding: 80px 0;
  text-align: center;
}
.insta-title {
  color: #272727;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
}
.insta-description {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  padding: 0 380px;
}
.insta-box {
  padding: 0px 200px;
  justify-content: center;
  gap: 20px;
  display: flex;
  margin-bottom: 100px;
}
.insta-box img {
  width: 250px;
  height: 300px;
  margin-top: -50px;
}
/* instagram section End */
/* newsletters section start */
.newsletter-section {
  background-image: url('../Assets/Rectangle 9.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  align-items: center;
  height: 400px;
  margin: 80px 135px;
  border-radius: 8px;
}
.news-title {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  padding: 0px 200px;
  padding-top: 100px;
}
.news-desc {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  padding: 10px 200px;
}
.form-section {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}
.form-section input {
  border-radius: 8px;
  background: #fff;
  color: rgba(39, 39, 39, 0.6);
  font-size: 16px;
  font-weight: 400;
  width: 500px;
  height: 60px;
  border: none;
  padding: 0 10px;
}
.form-section button {
  margin-left: 20px;
}
/* newsletters section End */

/* footer section start */
footer {
  background: #000;
  justify-content: center;
  text-align: center;
  padding: 60px 200px;
}
footer p {
  color: rgba(255, 255, 255, 0.9);
  padding: 20px 200px;
  font-size: 18px;
  font-weight: 400;
}
.buttom-p {
  color: rgba(255, 255, 255, 0.4);
  font-size: 16px;
  font-weight: 400;
}

/* Group section css start */
.group-container {
  margin-top: 100px;
}
.group-box {
  display: flex;
  margin: 80px 160px;
  gap: 20px;
  justify-content: center;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
  height: 250px;
  text-align: center;
  align-items: center;
}
.group-title {
  margin-top: 20px;
}

/* Group section css End */
